body {
    text-align: center;
}

.btn-container { 
    display: flex;
    justify-content: center;
}

.btn {
    width: 200px;
    height: 200px;
    border: 7px solid black;
    border-radius: 20%;
    margin: 2.5rem;
}


.red {
    background-color: #d95980;
}
.yellow {
    background-color: #f99b45;
}
.purple {
    background-color: #819ff9;
}
.green {
    background-color: #23c4f4;
}

.flash {
    background-color: #fff;
}